student{
display:block; margin-top:10px; color:Navy;
}
h1{
display:block; font-size:20pt; color:Black; 
}
usn{
display:block; margin-left:20px;font-size:14pt; color:Red;
}
name{
display:block; margin-left:20px;font-size:14pt; color:Blue;
}
clg{
display:block; margin-left:20px;font-size:12pt; color:Maroon;
}
branch{
display:block; margin-left:20px;font-size:12pt; color:Purple;
}
yoj{
display:block; margin-left:20px;font-size:14pt; color:Green;
}
eid{
display:block; margin-left:20px;font-size:12pt; color:Blue;
}